{% extends "base.html" %}
{% block body_class %}app-layout transporter-layout{% endblock %}
{% block page_css %}<link rel="stylesheet" href="/static/css/pages/transporter.css">{% endblock %}
{% block body %}
  {% include "partials/flash_messages.html" %}
  <div class="app-shell">
    {% include "partials/sidebar_transporter.html" %}
    <div class="app-main">
      {% include "partials/header.html" %}
      <div class="app-content">
        {% include "partials/breadcrumb.html" %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {% include "partials/mobile_nav.html" %}
  <script src="/static/js/pages/transporter.js"></script>
{% endblock %}
